USE [master]
GO
/****** Object:  Database [ProDobro]    Script Date: 4/15/2018 4:37:52 PM ******/
CREATE DATABASE [ProDobro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProDobro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS2\MSSQL\DATA\ProDobro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProDobro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS2\MSSQL\DATA\ProDobro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProDobro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProDobro]
GO
USE [ProDobro]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 4/15/2018 4:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 4/15/2018 4:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventsType]    Script Date: 4/15/2018 4:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventsType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_EventsType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSOTypes]    Script Date: 4/15/2018 4:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSOTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SSOTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/15/2018 4:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[SSOTypeId] [int] NOT NULL,
	[SSOKey] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTypes]    Script Date: 4/15/2018 4:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_UsersTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calendar] ON 
GO
INSERT [dbo].[Calendar] ([Id], [EventId], [Date]) VALUES (1, 1, CAST(N'1991-10-21' AS Date))
GO
INSERT [dbo].[Calendar] ([Id], [EventId], [Date]) VALUES (2, 4, CAST(N'1988-11-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Calendar] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 
GO
INSERT [dbo].[Events] ([Id], [TypeId], [UserId], [Name]) VALUES (1, 1, 1, N'SomeTestEventToHelpChildren')
GO
INSERT [dbo].[Events] ([Id], [TypeId], [UserId], [Name]) VALUES (4, 2, 1, N'SomeTestEventToHelpAnimals')
GO
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[EventsType] ON 
GO
INSERT [dbo].[EventsType] ([Id], [Name]) VALUES (1, N'Children  ')
GO
INSERT [dbo].[EventsType] ([Id], [Name]) VALUES (2, N'Animals   ')
GO
SET IDENTITY_INSERT [dbo].[EventsType] OFF
GO
SET IDENTITY_INSERT [dbo].[SSOTypes] ON 
GO
INSERT [dbo].[SSOTypes] ([Id], [Name]) VALUES (1, N'Google')
GO
INSERT [dbo].[SSOTypes] ([Id], [Name]) VALUES (2, N'FaceBook')
GO
INSERT [dbo].[SSOTypes] ([Id], [Name]) VALUES (3, N'Linkedin')
GO
SET IDENTITY_INSERT [dbo].[SSOTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([Id], [TypeId], [SSOTypeId], [SSOKey]) VALUES (1, 2, 1, N'YuliasSSOKeyShouldBeHere')
GO
INSERT [dbo].[Users] ([Id], [TypeId], [SSOTypeId], [SSOKey]) VALUES (3, 2, 2, N'LeshasSSOKeyShouldBeHere')
GO
INSERT [dbo].[Users] ([Id], [TypeId], [SSOTypeId], [SSOKey]) VALUES (7, 1, 1, N'lalalalal')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersTypes] ON 
GO
INSERT [dbo].[UsersTypes] ([Id], [Name]) VALUES (1, N'Company   ')
GO
INSERT [dbo].[UsersTypes] ([Id], [Name]) VALUES (2, N'Person    ')
GO
SET IDENTITY_INSERT [dbo].[UsersTypes] OFF
GO
ALTER TABLE [dbo].[Calendar]  WITH CHECK ADD  CONSTRAINT [FK_Calendar_Events1] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Calendar] CHECK CONSTRAINT [FK_Calendar_Events1]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_EventsType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[EventsType] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_EventsType]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SSOTypes] FOREIGN KEY([SSOTypeId])
REFERENCES [dbo].[SSOTypes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SSOTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UsersTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[UsersTypes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UsersTypes]
GO
USE [master]
GO
